<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


	<head id="ctl00_Head1">
		<title>
			Bookmark List
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta property="fb:admins" content="683024937" />
		<meta property="fb:app_id" content="111670815619329" />
		<script src="../static/js/jquery17.min.js" type="text/javascript"></script>
		<link href="../static/css/tpl_style.css?" rel="stylesheet" type="text/css" />
		<link href="../static/css/upload-progress.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
		<!--[if IE 6]>
		<link href="/Content/css/tpl_ie_6.css"  rel="stylesheet" type="text/css" media="screen" />
		<![endif]-->
		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="/Content/css/tpl_ie_7.css" />
		<![endif]-->
		<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="/Content/css/tpl_ie_7.css" />
		<![endif]-->
		<meta name="description" content="Read manga online in high quality for free, fast update, daily update. Unique reading type: All pages - just need to scroll to read next page, and many more..." />
		<meta name="keywords" content="manga,read manga,manga online,manga scans,manga volume,manga chapter,online manga,read free manga,free manga,read free manga online,manga viewer,manga download,manga downloads,japanese comic, manhwa online" />
		<link rel="stylesheet" href="../static/css/jquery.ui.core.css">
		<link rel="stylesheet" href="../static/css/jquery.ui.slider.css">
		<link rel="stylesheet" href="../static/css/jquery.ui.theme.css">
		<style media="screen">

		</style>
	</head>



	<body>
		<div id="containerRoot">
			<div id="head">
				<h3>


					<!-- Login/Register button top section -->
					<div style="position: relative; text-align: right; margin: -40px 46px 20px 0px; font: bold 13px Arial;">
						<div id="topHolderBox" style="width: 230px; height: 27px;">
							{% if session %}
								<img src="../static/images/user-small.png" style="vertical-align: middle; margin-bottom: 5px">
								<span style="color: #888">
									Hi
								</span>
								&nbsp;&nbsp;
								<a id="aDropDown" class="boxDropDown" style="margin-top: -7px; cursor: pointer; width:75px;">
									<span>
										{{session.username}}
										<span class="clsHadUnread">
										</span>
										<small style="color: #8D65A0">
											▼
										</small>
									</span>
								</a>
								<div id="menu_box" style="display:none;">
									<a href="{{ url_for('bookmark') }}">
										&nbsp;&nbsp;
										<img src="../static/images/bookmark1.png" />
											&nbsp;Bookmark list
											<span class="clsHadUnread">...</span>
										</a>
										<a href="{{ url_for('account') }}">
											&nbsp;&nbsp;
											<img src="../static/images/change.png" />
											&nbsp;Profile
										</a>
										<a href="{{ url_for('logout') }}">
											&nbsp;&nbsp;
											<img src="../static/images/logout.png" />
											&nbsp;Logout
										</a>
								</div>
							{% else %}
								<img src="../static/images/user-small.png" style="vertical-align: middle; margin-bottom: 5px">
								<a href="{{ url_for('login') }}">
									Login
								</a>
								or
								<a href="{{ url_for('register') }}">
									Register
								</a>
							{% endif %}
						</div>
					</div>
					<!-- Login/Register button top section end here -->
					<script type="text/javascript">
					$("#aDropDown")
					.mouseover(function() {
						$("#menu_box").show();
					})
					.mouseout(function() {
						$("#menu_box").hide();
					});
					$("#menu_box")
					.mouseover(function() {
						$(this).show();
					})
					.mouseout(function() {
						$(this).hide();
					});
					</script>





					<div id="search" style="position: relative">
						<form action="{{url_for('menu_search')}}" id="formSearch" method="post" style="position:relative;">
							<p>
								<input size="40" id="keyword" name="searchtext" value="" class="text"  placeholder="Search manga..."  autocomplete="off" />
								<select id="selectSearch" name="search_select">
									<option value="Manga Name">Series Name</option>
									<option value="Authors">Author/Artist</option>
								</select>
								<input id="imgSearch" type="image" src="../static/images/search.png" class="button"/>
								<input type="submit" value="" style="position: absolute;top: -2px;right: 43px;width: 86px;height: 29px;cursor: pointer;border: 0px;border-radius: 3px; opacity:0;">
							</p>
						</form>
					</div>
				</h3>
				<h1>
					<a href="{{ url_for('home') }}" title="Read manga online - kissmanga.com" class="logo">Read online manga - kissmanga.com</a>
				</h1>
			</div>
			<div class="clear"></div>
			<div id="headnav">
				<div id="navbar">
					<div id="navcontainer">
						<ul>
							<li id="liHome"><a href="{{ url_for('home') }}">Home</a></li>
							<li id="liDS"><a href="{{ url_for('manga', page=1) }}">Manga
								List</a>
							</li>
							<li id="liComic">
								<a target="_blank" href="http://readcomiconline.to/">Comic
								List</a>
							</li>
							<li id="liReport">
								<a rel="nofollow" target="_blank" href="https://www.reddit.com/r/KissCommunitySupport/submit">
								Report/Request</a>
							</li>
							<li id="liCommunity">
								<a rel="nofollow" target="_blank" href="https://discord.gg/eCzUxNB">
								Forum</a>
							</li>
							<li id="liAnimeOnline">
								<a target="_blank" title="High quality anime online" href="http://kissanime.ru/">
								Watch anime</a>
							</li>
							<li id="liGame">
								<a target="_blank" href="http://novelplanet.com">Read Novel</a></li>
						</ul>
					</div>
				</div>
				<script type="text/javascript">
					var path = 'Manga';
					var action = 'BookmarkList';
					if (path == 'Home')
					    $('#liHome a').attr('id', 'currentTab');
					else if (path == 'Manga' || path == 'Genre' || path == 'Group' || path == 'AuthorArtist')
					    $('#liDS a').attr('id', 'currentTab');
					else if (action == 'Report')
					    $('#liReport a').attr('id', 'currentTab');
					else if (action == 'RequestManga')
					    $('#liRequest a').attr('id', 'currentTab');
					else if (action == 'Guide')
					    $('#liGuide a').attr('id', 'currentTab')
					else
					    $('#navcontainer a[href*="' + path + '"]').attr('id', 'currentTab');
				</script>
				<div id="navsubbar">
					<p>
						<a href="{{ url_for('manga', page=1) }}">
							Latest update
						</a>
						|
						<a href="{{ url_for('manga_new', page=1) }}">
							New manga
						</a>
						|
						<a href="{{ url_for('manga_hot', page=1) }}">
							Popular manga
						</a>
					</p>
				</div>
			</div>
			<style>
				.tooltip
				{
				display: none;
				background: url('../../Content/images/black_arrow_big.png') no-repeat;
				height: 180px;
				padding: 25px 10px 0px 30px;
				width: 450px;
				font-size: 11px;
				color: #fff;
				}
				.alphabet
				{
				background: none repeat scroll 0 0 #161616;
				color:gray;
				text-align:center;
				font-size:14px;
				}
				.alphabet a
				{
				font-weight:bold;
				}
				.loading_page
				{
				width: 100%;
				height: 100%;
				background-color: Gray;
				opacity: 0.5;
				filter: alpha(opacity = 50);
				z-index: 9998;
				top: 0;
				left: 0;
				position: fixed;
				padding-top: 100px;
				}
				.loading_text
				{
				z-index: 9999;
				background: #ffffff url('/Content/images/loading.gif') center center no-repeat;
				width: 150px;
				height: 20px;
				text-align: center;
				position: fixed;
				font-weight: bold;
				top: 40%;
				left: 40%;
				padding: 50px 0px 0px 0px;
				margin: 0;
				opacity: 0.9;
				color:#676767;
				}
			</style>
			<script type="text/javascript" src="../../Scripts/jqueryTooltip.js"></script>
			<div id="divLoadingOver" style="display:none">
				<div class="loading_page"></div>
				<div class="loading_text">Loading...</div>
			</div>
			<div id="container" style="text-align: left">
				<div class="bigBarContainer">
					<div class="barTitle">
						Bookmark list
					</div>
					<div class="barContent">
						<div class="arrow-general">
							&nbsp;
						</div>
						<div style="position:relative">
							<!-- <div style="font-size:11px;position:absolute; right:5px; top: 0px">
								TIPS:<br />
								- Empty folder will be automatically removed.<br />
								- When manga has new episode, its status will be changed to 'Unread'.
							</div> -->
							<div class="clear2" style=""></div>
							<!-- <div id="divListCategories" style="font-size: 14px"><span style="font-weight:bold">Folder:</span>&nbsp;&nbsp;<select id="selectListCategories" style="width: 200px"></select>
								&nbsp;&nbsp;
								<a href="#" onclick="return false;" id="btnSetAsDefault"><img src="/Content/images/subdub.png" style="vertical-align:middle" />&nbsp;Set as default</a>
								&nbsp;&nbsp;<a href="#" onclick="return false;" id="btnRename" style="display:none"><img src="/Content/images/change.png" style="vertical-align:middle" />&nbsp;Rename</a>
							</div> -->
							<table class="listing">


								<tr class="head">
									<th width="37%">
										Manga name
									</th>
									<!-- <th width="15%">
										Latest
									</th> -->
									<th width="12%">
										Status
									</th>
									<th width="10%"></th>
									<th width="26%"></th>
								</tr>


								<tr style="height: 10px"></tr>


								{% for item in bookmark_data %}
									<tr class="trManga" catName="">
										<td title=''>
											<a class="aManga" href="{{url_for('manga_id', manga_id = item['id'])}}">
											- {{item['title']}} -</a>
										</td>
										<td>
											{{item['status']}}
										</td>
									</tr>
								{% endfor %}



							</table>
							<script type="text/javascript">
								$(".listing td[title]").tooltip({ offset: [10, 200], effect: 'slide', predelay: 300 }).dynamic({ bottom: { direction: 'down', bounce: true} });
								var strUncate = '- Uncategorized';
								var strAll = '- All Manga';

								// begin categories section

								var lstCats = new Array();

								lstCats.push(strUncate);
								lstCats.sort();

								function CreateCategoriesDropDown(except)
								{
								    if (except == '')
								        except = strUncate;

								    var result = $('<select class="selectCats" />');
								    $('<option />', {value: '0', text: 'Choose one'}).appendTo(result);
								    $('<option />', {value: '1', text: '- Create new...'}).appendTo(result);
								    result.css('width', '200px');
								    result.css('font-size', '14px');

								    for(i = 0; i < lstCats.length; i++) {
								        if (lstCats[i] != except)
								            $('<option />', {value: lstCats[i], text: '- ' + lstCats[i]}).appendTo(result);
								    }

								    return result;
								}

								function InitTopSelectCategoryDropDown(selectVal)
								{
								    $('#selectListCategories option').remove();
								    var element = $('#selectListCategories');

								    $('<option />', {value: strAll, text: strAll}).appendTo(element);
								    for(i = 0; i < lstCats.length; i++) {
								        $('<option />', {value: lstCats[i], text: lstCats[i]}).appendTo(element);
								    }

								    if (selectVal != '')
								    {
								        element.val(selectVal);
								        ChangeCategory(selectVal);
								    }
								    else
								        ChangeCategory(strAll);
								}
								var param = document.URL.split('?name=')[1];
								if (typeof param === 'undefined')
								    InitTopSelectCategoryDropDown('');
								else
								    InitTopSelectCategoryDropDown(decodeURIComponent(param));

								function RemoveStringInArray(array, search_term)
								{
								    for (var i=array.length-1; i>=0; i--) {
								        if (array[i] === search_term) {
								            array.splice(i, 1);
								        }
								    }
								}

								function SetCategory(categoryName, aCategoryElement)
								{
								    if (categoryName == strUncate)
								        categoryName = "";
								    $('#divLoadingOver').show();
								    $.ajax(
								        {
								            type: "POST",
								            url: "/ChangeBookmarkCategory",
								            data: "bdid=" + aCategoryElement.attr('bdid') + "&category=" + categoryName,
								            success: function (message) {
								                if (message != "!error!") {
								                    $('#divLoadingOver').hide();
								                    var selectedVal = $('#selectListCategories').val();

								                    aCategoryElement.attr('catName', message);
								                    aCategoryElement.parents('tr').attr('catName', message);

								                    if (message != '')
								                    {
								                        if ($.inArray(message, lstCats) == -1) // not found
								                        {
								                            lstCats.push(message);
								                            lstCats.sort();

								                            InitTopSelectCategoryDropDown(selectedVal);
								                        }
								                    }


								                    if (selectedVal != strAll)
								                    {
								                        aCategoryElement.parents('tr').toggle('normal');
								                    }
								                    else
								                    {
								                        $('.selectCats').remove();
								                    }

								//                        if ($("tr.trManga:visible").length == 0 && selectedVal != strUncate)
								//                        {
								//                            RemoveStringInArray(lstCats, selectedVal);
								//                        }
								                }
								                else {
								                    element.parent().html("Error!");
								                }
								            }
								        });
								}

								function ChangeCategory(categoryName)
								{
								    if (categoryName != strUncate && categoryName != strAll)
								        $('#btnRename').show();
								    else
								        $('#btnRename').hide();

								    if (categoryName == strUncate)
								        categoryName = '';

								    var odd = true;

								    $("tr.trManga").removeClass('odd');
								    $(".aCategory").show();
								    $('.selectCats').remove();

								    if (categoryName == strAll)
								    {
								        $("tr.trManga").show();
								        $(".aCategory[catname!='']").hide();
								            $("tr.trManga").each(function(){
								                if (odd)
								                {
								                    odd = false;
								                    $(this).addClass('odd');
								                }
								                else
								                {
								                    odd = true;
								                }
								            });
								    }
								    else
								    {
								        $("tr.trManga").hide();
								        $("tr.trManga[catName='" + categoryName + "']").show();

								            $("tr.trManga[catName='" + categoryName + "']").each(function(){
								                if (odd)
								                {
								                    odd = false;
								                    $(this).addClass('odd');
								                }
								                else
								                {
								                    odd = true;
								                }
								            });
								    }

								}

								$('body').on('change', '#selectListCategories', function() {
								    var element = $(this);
								    ChangeCategory(element.val());
								    if (element.val() == GetCookie("defaultBookmarkFolder"))
								    {
								        $('#btnSetAsDefault').hide();
								    }
								    else
								    {
								        $('#btnSetAsDefault').show();
								    }
								});

								$('body').on('change', '.selectCats', function() {
								    var element = $(this);
								    if (element.val() != '0')
								    {
								        var aCategoryEle = element.siblings('.aCategory');
								        if (element.val() == '1') // create new
								        {
								            var newCat = prompt("Please enter folder name (only alphanumeric characters)", "");
								            if (newCat != null && newCat.length < 100) {
								                SetCategory(newCat, aCategoryEle);
								            }
								            else
								            {
								                ChangeCategory($('#selectListCategories').val());
								                if (newCat.length >= 100)
								                    alert('Folder name is too long');
								            }
								        }
								        else // change to another
								        {
								            SetCategory(element.val(), aCategoryEle);
								        }
								    }
								});

								$('.aCategory').click(function () {
								    ChangeCategory($('#selectListCategories').val());

								    var element = $(this);
								    element.hide();

								    var eleDropDownCats = CreateCategoriesDropDown(element.attr('catName'));
								    element.after(eleDropDownCats);
								});

								$('#btnRename').click(function(){
								    var selectedName = $('#selectListCategories').val();
								    var newName = prompt("Please enter new folder name (only alphanumeric characters)", selectedName);
								    if (newName != null && newName.length < 100 && selectedName != newName) {
								        $.ajax(
								        {
								            type: "POST",
								            url: "/ChangeBookmarkCategoryName",
								            data: "oldName=" + selectedName + "&newName=" + newName,
								            success: function (message) {
								                if (message != "!error!") {
								                    $('#divLoadingOver').hide();

								                    location.href = '/BookmarkList?name=' + message;
								                }
								                else {
								                    element.parent().html("Error!");
								                }
								            }
								        });
								    }
								    else
								    {
								        ChangeCategory(selectedName);
								        if (newCat.length >= 100)
								            alert('Folder name is too long');
								    }
								});

								// end categories section


								$('.aRemove').click(function () {
								    var element = $(this);

								    var isSure = confirm("Do you want to remove manga \"" + element.attr('mname') + "\" from bookmark list?");
								    if (isSure) {
								        element.css("display", "none");
								        $('#divLoadingOver').show();
								        $.ajax(
								        {
								            type: "POST",
								            url: "/Bookmark/" + element.attr('mid') + "/remove",
								            success: function (message) {
								                if (message != "") {
								                    $('#divLoadingOver').hide();
								                    element.parents('tr').hide('normal', function(){ element.parents('tr').remove(); });
								                }
								                else {
								                    element.parent().html("Error!");
								                }
								            }
								        });
								    }
								});

								$('.aRead').click(function () {
								    var element = $(this);
								    element.css("display", "none");
								    $('#divLoadingOver').show();
								    $.ajax(
								        {
								            type: "POST",
								            url: "/MarkBookmarkDetail",
								            data: "bdid=" + element.attr('bdid') + "&strAlreadyRead=0",
								            success: function (message) {
								                if (message != "") {
								                    element.siblings('.aUnRead').css("display", "inline");
								                    $('#divLoadingOver').hide();
								                }
								                else {
								                    element.parent().html("Error!");
								                }
								            }
								        });
								    });

								    $('.aUnRead').click(function () {
								        var element = $(this);
								        element.css("display", "none");
								        $('#divLoadingOver').show();
								        $.ajax(
								        {
								            type: "POST",
								            url: "/MarkBookmarkDetail",
								            data: "bdid=" + element.attr('bdid') + "&strAlreadyRead=1",
								            success: function (message) {
								                if (message != "") {
								                    element.siblings('.aRead').css("display", "inline");
								                    $('#divLoadingOver').hide();
								                }
								                else {
								                    element.parent().html("Error!");
								                }
								            }
								        });
								    });

								    // default folder
								    function GetCookie(name) {
								        var value = "; " + document.cookie;
								        var parts = value.split("; " + name + "=");
								        if (parts.length == 2) return parts.pop().split(";").shift();
								    }

								    $('#btnSetAsDefault').click(function(){
								        document.cookie = 'defaultBookmarkFolder=' + $('#selectListCategories').val() + '; expires=Thu, 01 Jan 2030 00:00:01 GMT;path=/';
								        $('#btnSetAsDefault').hide();
								        alert('Done!');
								    });

								    if (GetCookie("defaultBookmarkFolder"))
								    {
								        var valueDefaultFolder = GetCookie("defaultBookmarkFolder");
								        $('#selectListCategories').val(valueDefaultFolder).change();
								    }

								    // ----
							</script>
						</div>
					</div>
				</div>
				<div style="height:80px">&nbsp;</div>
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
		</div>
		<div id="footer">
			<div id="footcontainer" style="position: relative">
				<p>
					<a href="{{ url_for('home') }}">KissManga.com</a>. Copyrights and trademarks for the manga, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law.
					<a href="#">Privacy Policy</a>
					&nbsp;&nbsp;
				</p>
				<div style="position: absolute; left: 200px; top: 20px"></div>
			</div>
		</div>
		<script type="text/javascript">
			$('#footer').css('top', $(document).height() - $('#containerRoot').height());
		</script>
	</body>
</html>
