<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


	<head id="ctl00_Head1">
		<title>
			KissManga - Read manga online in high quality
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta property="fb:admins" content="683024937" />
		<meta property="fb:app_id" content="111670815619329" />
		<script src="../static/js/jquery17.min.js" type="text/javascript"></script>
		<link href="../static/css/tpl_style.css?" rel="stylesheet" type="text/css" />
		<link href="../static/css/upload-progress.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
		<!--[if IE 6]>
		<link href="/Content/css/tpl_ie_6.css"  rel="stylesheet" type="text/css" media="screen" />
		<![endif]-->
		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="/Content/css/tpl_ie_7.css" />
		<![endif]-->
		<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="/Content/css/tpl_ie_7.css" />
		<![endif]-->
		<meta name="description" content="Read manga online in high quality for free, fast update, daily update. Unique reading type: All pages - just need to scroll to read next page, and many more..." />
		<meta name="keywords" content="manga,read manga,manga online,manga scans,manga volume,manga chapter,online manga,read free manga,free manga,read free manga online,manga viewer,manga download,manga downloads,japanese comic, manhwa online" />
		<link rel="stylesheet" href="../static/css/jquery.ui.core.css">
		<link rel="stylesheet" href="../static/css/jquery.ui.slider.css">
		<link rel="stylesheet" href="../static/css/jquery.ui.theme.css">
	</head>



	<body>
		<div id="containerRoot">


			<div id="head">
				<h3>
					<div style="position: relative; text-align: right; margin: -40px 46px 20px 0px; font: bold 13px Arial;">
						<div id="topHolderBox" style="width: 230px; height: 27px;">
							<img src="../static/images/user-small.png" style="vertical-align: middle; margin-bottom: 5px">
							<a href="{{ url_for('login') }}">
								Login
							</a>
							or
							<a href="{{ url_for('register') }}">
								Register
							</a>
						</div>
					</div>
					<div id="search" style="position: relative">
						<form action="{{url_for('menu_search')}}" id="formSearch" method="post" style="position:relative;">
							<p>
								<input size="40" id="keyword" name="searchtext" value="" class="text"  placeholder="Search manga..."  autocomplete="off" />
								<select id="selectSearch" name="search_select">
									<option value="Manga Name">Series Name</option>
									<option value="Authors">Author/Artist</option>
								</select>
								<input id="imgSearch" type="image" src="../static/images/search.png" class="button"/>
								<input type="submit" value="" style="position: absolute;top: -2px;right: 43px;width: 86px;height: 29px;cursor: pointer;border: 0px;border-radius: 3px; opacity:0; cursor:pointer;">
							</p>
						</form>
					</div>
				</h3>
				<h1>
					<a href="{{ url_for('home') }}" title="Read manga online - kissmanga.com" class="logo">Read online manga - kissmanga.com</a>
				</h1>
			</div>



			<div class="clear"></div>


			<!-- navigation section start here -->
			<div id="headnav">
				<div id="navbar">
					<div id="navcontainer">
						<ul>
							<li id="liHome">
								<a href="{{ url_for('home') }}">
									Home
								</a>
							</li>
							<li id="liDS">
								<a href="#">
									Manga List
								</a>
							</li>
						
						</ul>
					</div>
				</div>
				<script type="text/javascript">
					var path = 'Home';
					var action = 'Login';
					if (path == 'Home')
					    $('#liHome a').attr('id', 'currentTab');
					else if (path == 'Manga' || path == 'Genre' || path == 'Group' || path == 'AuthorArtist')
					    $('#liDS a').attr('id', 'currentTab');
					else if (action == 'Report')
					    $('#liReport a').attr('id', 'currentTab');
					else if (action == 'RequestManga')
					    $('#liRequest a').attr('id', 'currentTab');
					else if (action == 'Guide')
					    $('#liGuide a').attr('id', 'currentTab')
					else
					    $('#navcontainer a[href*="' + path + '"]').attr('id', 'currentTab');
				</script>
				<div id="navsubbar">
					<p>
						<a href="{{ url_for('register') }}">Register</a>
					</p>
				</div>
			</div>
			<!-- navigation section end here -->





			<div id="container">
				<div id="leftside">
					<div class="bigBarContainer">
						<div class="barTitle">
							Login
						</div>
						<div class="barContent">
							<div class="arrow-general">
								&nbsp;
							</div>
							<div>
								<div style="padding-bottom: 10px"></div>
								<form action="{{ url_for('login') }}"  id="formLogin" method="post">
									<div>
										<label class="lblSignUp">
										Username:
										</label>
										<input maxlength="50" name="username" id="username" class="txtSignUp" value="" />
									</div>
									<div>
										<label class="lblSignUp">
										Password:
										</label>
										 <input type="password" name="password" id="password" class="txtSignUp" />
									</div>
									<div style="display: inline-block; padding-left: 190px">
										<a href="#">Forgot password?</a>
									</div>
									<div style="padding-top: 20px; padding-left: 190px; position:relative;">
										<input id='btnSubmit' type="image" src="../static/images/signin.png" class="button" onclick="return false;" style="cursor: pointer" />
										<input name="submit_login" type="submit" id="submit_login" value="" class="submit" style="position: absolute;top: 21px;left: 191px;width: 86px;height: 29px;border-radius: 3px;border: 0px;opacity: 0;">
									</div>
									<input type="hidden" name="redirect" value="" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<div id="rightside">
					<div class="rightBox">
						<div class="barTitle">
							Guidelines
						</div>
						<div class="barContent">
							<div class="arrow-general">
								&nbsp;
							</div>
							<div>
								After login you can:<br />
								<ul>
									<li>Using bookmark feature, KissManga will automatically notify you when those manga
										have new chapters.
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
		</div>
		<div id="footer">
			<div id="footcontainer" style="position: relative">
				<p>
					<a href="{{ url_for('home') }}">KissManga.com</a>. Copyrights and trademarks for the manga, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law.
					<a href="{{ url_for('privacy') }}">Privacy Policy</a>
					&nbsp;&nbsp;
				</p>
				<div style="position: absolute; left: 200px; top: 20px"></div>
			</div>
		</div>
		<script type="text/javascript">
			$('#footer').css('top', $(document).height() - $('#containerRoot').height());
		</script>
	</body>
</html>
