<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- {{ url_for('static', filename='') }} -->

	<head id="ctl00_Head1">
		<title>
			KissManga - Read manga online in high quality
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta property="fb:admins" content="683024937" />
		<meta property="fb:app_id" content="111670815619329" />
		<script src="{{ url_for('static', filename='js/jquery17.min.js') }}" type="text/javascript"></script>
		<link href="{{ url_for('static', filename='css/tpl_style.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ url_for('static', filename='css/upload-progress.css') }}" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
		<!--[if IE 6]>
		<link href="/Content/css/tpl_ie_6.css"  rel="stylesheet" type="text/css" media="screen" />
		<![endif]-->
		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="/Content/css/tpl_ie_7.css" />
		<![endif]-->
		<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="/Content/css/tpl_ie_7.css" />
		<![endif]-->
		<meta name="description" content="Read manga online in high quality for free, fast update, daily update. Unique reading type: All pages - just need to scroll to read next page, and many more..." />
		<meta name="keywords" content="manga,read manga,manga online,manga scans,manga volume,manga chapter,online manga,read free manga,free manga,read free manga online,manga viewer,manga download,manga downloads,japanese comic, manhwa online" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ui.core.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ui.slider.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ui.theme.css') }}">
		<style media="screen">

		</style>
	</head>




	<body>
		<div id="containerRoot">
			<div id="head">
				<h3>

					<!-- Login/Register button top section -->
					<div style="position: relative; text-align: right; margin: -40px 46px 20px 0px; font: bold 13px Arial;">
						<div id="topHolderBox" style="width: 230px; height: 27px;">
							{% if session %}
								<img src="{{ url_for('static', filename='images/user-small.png') }}" style="vertical-align: middle; margin-bottom: 5px">
								<span style="color: #888">
									Hi
								</span>
								&nbsp;&nbsp;
								<a id="aDropDown" class="boxDropDown" style="margin-top: -7px; cursor: pointer; width:75px;">
									<span>
										{{session.username}}
										<span class="clsHadUnread">
										</span>
										<small style="color: #8D65A0">
											▼
										</small>
									</span>
								</a>
								<div id="menu_box" style="display:none;">
									<a href="{{ url_for('bookmark') }}">
										&nbsp;&nbsp;
										<img src="{{ url_for('static', filename='images/bookmark1.png') }}" />
											&nbsp;Bookmark list
											<span class="clsHadUnread">...</span>
										</a>
										<a href="{{ url_for('account') }}">
											&nbsp;&nbsp;
											<img src="{{ url_for('static', filename='images/change.png') }}" />
											&nbsp;Profile
										</a>
										<a href="{{ url_for('logout') }}">
											&nbsp;&nbsp;
											<img src="{{ url_for('static', filename='images/logout.png') }}" />
											&nbsp;Logout
										</a>
								</div>
							{% else %}
								<img src="{{ url_for('static', filename='images/user-small.png') }}" style="vertical-align: middle; margin-bottom: 5px">
								<a href="{{ url_for('login') }}">
									Login
								</a>
								or
								<a href="{{ url_for('register') }}">
									Register
								</a>
							{% endif %}
						</div>
					</div>
					<!-- Login/Register button top section end here -->
					<script type="text/javascript">
					$("#aDropDown")
					.mouseover(function() {
						$("#menu_box").show();
					})
					.mouseout(function() {
						$("#menu_box").hide();
					});
					$("#menu_box")
					.mouseover(function() {
						$(this).show();
					})
					.mouseout(function() {
						$(this).hide();
					});
					</script>


					<div id="search" style="position: relative">
						<form action="{{url_for('menu_search')}}" id="formSearch" method="post" style="position:relative;">
							<p>
								<input size="40" id="keyword" name="searchtext" value="" class="text"  placeholder="Search manga..."  autocomplete="off" />
								<select id="selectSearch" name="search_select">
									<option value="Manga Name">Series Name</option>
									<option value="Authors">Author/Artist</option>
								</select>
								<input id="imgSearch" type="image" src="../static/images/search.png" class="button"/>
								<input type="submit" value="" style="position: absolute;top: -2px;right: 43px;width: 86px;height: 29px;cursor: pointer;border: 0px;border-radius: 3px; opacity:0;">
							</p>
						</form>
					</div>
				</h3>
				<h1>
					<a href="{{ url_for('home') }}" title="Read manga online - kissmanga.com" class="logo">Read online manga - kissmanga.com</a>
				</h1>
			</div>
			<div class="clear"></div>
			<div id="headnav">
				<div id="navbar">
					<div id="navcontainer">
						<ul>
							<li id="liHome"><a href="{{ url_for('home') }}">Home</a></li>
							<li id="liDS"><a href="{{ url_for('manga', page=1) }}">Manga
								List</a>
							</li>
					
						</ul>
					</div>
				</div>
				<script type="text/javascript">
					var path = 'Manga';
					var action = 'ReadOnline';
					if (path == 'Home')
					    $('#liHome a').attr('id', 'currentTab');
					else if (path == 'Manga' || path == 'Genre' || path == 'Group' || path == 'AuthorArtist')
					    $('#liDS a').attr('id', 'currentTab');
					else if (action == 'Report')
					    $('#liReport a').attr('id', 'currentTab');
					else if (action == 'RequestManga')
					    $('#liRequest a').attr('id', 'currentTab');
					else if (action == 'Guide')
					    $('#liGuide a').attr('id', 'currentTab')
					else
					    $('#navcontainer a[href*="' + path + '"]').attr('id', 'currentTab');
				</script>
				<div id="navsubbar">
					<p>
						<a href="{{url_for('manga_id', manga_id = manga_details['id'])}}">
						Manga
						{{manga_details['title']}}
						information</a>
					</p>
				</div>
			</div>
			<div style="width: 95%; text-align: center; margin: auto">
				<div style="margin: auto; width: 780px; padding-top: 10px">
					<div style="">

						<label class="lbl">
						Chapter</label>

						<select class="selectChapter" onchange="location = this.value;" style="width: 380px">
							{% for chapter_link in chapter_option_list %}
							<option value="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_link[0])}}">
								<a href="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_link[0])}}">
									{{ chapter_link[1] }}
								</a>
							</option>
							{% endfor %}
						</select>


					</div>
					<!-- <div style="float: left; padding-left: 20px">
						<a href="https://kissmanga.com/Manga/Arigatights/Vol--002-Ch-018---Colored-Tights-And-The-Outdoor-School-002?id=517571">
						<img class='btnPrevious' src="https://kissmanga.com/Content/images/previous.png" title="Prev chapter" border="0" /></a>&nbsp;&nbsp;
					</div> -->
				</div>
				<!-- <script type="text/javascript">
					var _0x7909 = ["\x30\x33\x34\x6E\x73\x64\x66\x6E\x73\x37\x32\x6E\x61\x73\x64\x61\x73\x64"]; chko = _0x7909[0]; key = CryptoJS.SHA256(chko)
				</script> -->
				<div class="clear">
					&nbsp;
				</div>
				<div class="clear2">&nbsp;</div>
				<div class="clear2">&nbsp;</div>
				<div class="clear2">&nbsp;</div>
				<div class="clear2">&nbsp;</div>

				<div class="clear2">&nbsp;</div>
				<div class="clear2">&nbsp;</div>
				<div id="divImage" style="padding-top: 10px">

					{% if image_list %}
					  {% for image in image_list %}
						<p>
							<img src="{{ image }}" alt="{{manga_details['title']}}" title="{{manga_details['title']}}" />
						</p>
					  {% endfor %}
				  {% endif %}
					<!-- <p>
						<img onerror="onErrorImg(this)" onload="onLoadImg(this);" src="" />
					</p> -->

				</div>
				<div class="clear2">
					&nbsp;
				</div>
				<div id="divMsg" class="banner" style="margin: auto; width: 500px; height: 120px;
					margin-top: 20px; display: none">
					<div style="float: left; width: 390px">
						<p style="font-size: 14px; padding: 16px 0 0 6px">
							No more chapters today :(. Please come back later ^^!
						</p>
					</div>
					<div style="float: right; width: 110px">
						<img src="{{ url_for('static', filename='images/error.png') }}" style="border: 0px" />
					</div>
				</div>
				<div class="clear2">
					&nbsp;
				</div>
				<div class="clear2">&nbsp;</div>
				<div>

				</div>
				<div class="clear2">&nbsp;</div>

				<div class="clear">
					&nbsp;
				</div>
				<div style="margin: auto; width: 600px; padding-top: 10px">
					<div style="">


						<label class="lbl">
						Chapter</label>
						<select class="selectChapter" onchange="location = this.value;" style="width: 380px">
							{% for chapter_link in chapter_option_list %}
							<option value="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_link[0])}}">
								<a href="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_link[0])}}">
									{{ chapter_link[1] }}
								</a>
							</option>
							{% endfor %}
						</select>


					</div>
					<!-- <div style="float: left; padding-left: 20px">
						<a href="https://kissmanga.com/Manga/Arigatights/Vol--002-Ch-018---Colored-Tights-And-The-Outdoor-School-002?id=517571">
						<img class='btnPrevious' src="https://kissmanga.com/Content/images/previous.png" title="Prev chapter" border="0" /></a>&nbsp;&nbsp;
					</div> -->
				</div>
				<div class="clear2">
					&nbsp;
				</div>
				<div>
					<a href="#">
						<img border="0" style="vertical-align: middle" src="{{ url_for('static', filename='images/upload-icon.png') }}">
						&nbsp;
						[Back to top ]
					</a>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					<!-- <a target="_blank" rel="nofollow" href="https://www.reddit.com/r/KissCommunitySupport/submit">[ Report broken chapter ]</a> -->
					{% if session %}
						<div id="divBookmark" style="font-weight: bold; padding-top: 20px">
							&nbsp;&nbsp;
							<span id="spanBookmark">
							<img src="{{ url_for('static', filename='images/plus.png') }}" style="vertical-align: middle; margin-bottom: 5px">
							<a id="btnRegOrLogin" href="{{url_for('add_bookmark', manga_id = manga_details['id'])}}">Bookmark</a>
							</span>
						</div>
					{% else %}
						<div id="divBookmark" style="font-weight: bold; padding-top: 20px">
							&nbsp;&nbsp;
							<img src="{{ url_for('static', filename='images/user-small.png') }}" style="vertical-align: middle;
								margin-bottom: 5px">
							Please <a href="{{ url_for('login') }}">
							Login</a> or <a href="{{ url_for('register') }}">Register</a> to use <b>Bookmark</b> feature
						</div>
					{% endif %}
				</div>
				<div class="clear">
					&nbsp;
				</div>
				<p>
					With manga, please read english scan online from right to left. With Manhwa(Korean)
					or Comic please read english scan online from left to right.
					<br />
					<b>You can chose reading type 'One page'/'All pages' on top. </b>
				</p>
				<div class="clear2">
					&nbsp;
				</div>
			</div>
			<script type="text/javascript">
				$('#divImage').show();

				var isClickHide = false;
				function AddCloseButton(id) {
				    var elem = $('#' + id);
				    if (elem.position() != null) {
				        var top = elem.position().top + elem.height();
				        var left = elem.position().left;
				        elem.after('<div class="divCloseBut" style="position:absolute; left:' + left + 'px; top: ' + top + 'px"><a href="#" onclick="$(\'#' + id + '\').remove();$(this).remove(); InitCloseButton(); isClickHide=true; return false;">Hide</a></div>');
				    }
				}

				function InitCloseButton() {
				    $('.divCloseBut').remove();
				    AddCloseButton('adsIfrme2');
				    AddCloseButton('adsIfrme3');
				}
				setTimeout('InitCloseButton()', 5000);

				$(document).ready(function () {
				    $(function () {
				        setTimeout('HATEDBSDIDSY()', 2000);
				    });
				});

				function HATEDBSDIDSY() {
				    console.log('a');
				    if ($('#adsIfrme3').length == 1 && $('#adsIfrme2').length == 1 &&
				                !$('#adsIfrme3').is(":visible") && !$('#adsIfrme2').is(":visible") && !isClickHide) {

				        $('#divImage').hide();
				        $('#divComments').remove();
				        var nowNah = new Date();
				        var timeNah = nowNah.getTime();
				        var expireTimeNah = timeNah + (1000 * 3600 * 24 * 7);
				        nowNah.setTime(expireTimeNah);
				        document.cookie = "gogl1=go; expires=" + nowNah.toUTCString() + ";path=/";
				    }
				    $('#btnShowComments').show();
				}

				//    $(window).on("load", function () {
				//        console.log('a');
				//        setTimeout('YABASFSDWHQBD()', 6000);
				//    });

				//    function YABASFSDWHQBD() {
				//        if (!isClickHide && $('#adsIfrme3').length == 1 && $("#adsIfrme3").contents().find("html").html() && !$("#adsIfrme3").contents().find("div").html()) {
				//            $('#divImage').hide();
				//            $('#divComments').remove();
				//        }
				//    }

				function NGASTQBASMS() {
				    $('#divImage').hide();
				    $('#divComments').remove();

				    if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
				        $.ajax(
				        {
				            type: "POST",
				            url: "/Special/TemporaryBlockZ",
				            success: function (message) {

				            }
				        });

				        //            var nowNah = new Date();
				        //            var timeNah = nowNah.getTime();
				        //            var expireTimeNah = timeNah + (1000 * 3600 * 24 * 7);
				        //            nowNah.setTime(expireTimeNah);
				        //            document.cookie = "gogl1=go; expires=" + nowNah.toUTCString() + ";path=/";
				    }
				}

				$.ajaxSetup({
				    cache: true
				});

				var hynsaswnvx = true;
				$(window).on("load", function () {
				    $.getScript("https://static.mgid.com/js/jquery.inputmask.min.js")
				        .done(function (script, textStatus) {
				            hynsaswnvx = false;
				        });

				    $.getScript("https://px.ads.linkedin.com/collect?fmt=js")
				        .done(function (script, textStatus) {
				            hynsaswnvx = false;
				        });

				    $.getScript("https://www.googletagmanager.com/gtag/js")
				        .done(function (script, textStatus) {
				            hynsaswnvx = false;
				        });

				    $(function () {
				        setTimeout('YANABWEKA()', 30000);
				    });
				});

				function YANABWEKA() {
				    if (hynsaswnvx) {
				        NGASTQBASMS();
				    }
				}

			</script>



			<div style="text-align: center;">
				<div style="display: inline-table;">
					<div class="addthis_native_toolbox"></div>
				</div>
				<div class="clear2">
					&nbsp;
				</div>
				<div class="clear2">
					&nbsp;
				</div>
			</div>
			<div class="clear2">
				&nbsp;
			</div>
			<style type="text/css">
				.specialButton
				{
				-moz-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
				-webkit-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
				box-shadow: inset 0px 1px 0px 0px #c1ed9c;
				background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
				background: -moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
				background-color: #9dce2c;
				-webkit-border-top-left-radius: 20px;
				-moz-border-radius-topleft: 20px;
				border-top-left-radius: 20px;
				-webkit-border-top-right-radius: 20px;
				-moz-border-radius-topright: 20px;
				border-top-right-radius: 20px;
				-webkit-border-bottom-right-radius: 20px;
				-moz-border-radius-bottomright: 20px;
				border-bottom-right-radius: 20px;
				-webkit-border-bottom-left-radius: 20px;
				-moz-border-radius-bottomleft: 20px;
				border-bottom-left-radius: 20px;
				text-indent: 0;
				border: 1px solid #83c41a;
				display: inline-block;
				color: #ffffff;
				font-family: Arial;
				font-size: 15px;
				font-weight: bold;
				font-style: normal;
				height: 49px;
				line-height: 49px;
				width: 200px;
				text-decoration: none;
				text-align: center;
				text-shadow: 1px 1px 0px #689324;
				}
				.specialButton:hover
				{
				background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
				background: -moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
				color: #ffffff !important;
				}
				.specialButton:active
				{
				position: relative;
				top: 1px;
				}
			</style>
			<!-- <div style="text-align: center; height: 100px; padding-top: 10px">
				<a href="#" class="specialButton" onclick="return false;" id="btnShowComments" style="display: none">
				Show Comments Box</a>
			</div> -->
			<!-- <div style="width: 820px; text-align: center; margin: auto; background-color: #1f1f1f;
				display: none" id="divComments">
				<div style="width: 780px; display: inline-block">
					<div class="clear2"></div>
					<div style="color: #44B9FA; text-align: left">
						- Don't link to other manga/anime sites/any kind of ads.<br />
						- Don't spoil content of next chapters.
					</div>
					<div class="clear2"></div>
					<div id="disqus_thread">
						Loading...
					</div>
					<script type="text/javascript">
						/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						var disqus_shortname = 'kissmanga'; // required: replace example with your forum shortname


						                var disqus_url = 'https://kissmanga.com/Manga/Arigatights/Vol--002-Ch-018-005---Extra-Chapter';


					</script>
				</div>
				<script type="text/javascript">
					$('#btnShowComments').click(function () {
					    $(this).parent().hide();
					    $('#divComments').show();

					    /* * * DON'T EDIT BELOW THIS LINE * * */
					    (function () {
					        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					    })();
					});
				</script>
			</div> -->
			<div class="clear2">
				&nbsp;
			</div>
			<div style="text-align: center;">
				<a href="#">[ Back to top ]</a>
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
			<div class="clear">
				&nbsp;
			</div>
		</div>
		<div id="footer">
			<div id="footcontainer" style="position: relative">
				<p>
					<a href="{{ url_for('home') }}">KissManga.com</a>. Copyrights and trademarks for the manga, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law.
					<a href="/Message/PrivacyPolicy">Privacy Policy</a>
					&nbsp;&nbsp;
				</p>
				<div style="position: absolute; left: 200px; top: 20px"></div>
			</div>
		</div>
		<script type="text/javascript">
			$('#footer').css('top', $(document).height() - $('#containerRoot').height());
		</script>
	</body>
</html>
